.signup {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 1300px;
    overflow: hidden;
    animation: firstSectionAnimation 0.5s ease-in-out;
}





@media(max-width:500px) {
    .signup {
        min-height: 1000px;
    }
}